[general]
accounts = default
metadata = ~/.offlineimap/personal

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes.personal
header = "mailboxes "
peritem = "+%(foldername)s"
sep = " "
footer = "\n"

[Account default]
localrepository = local
remoterepository = gmail

[Repository local]
type = Maildir
localfolders = ~/Mail/personal

[Repository gmail]
type = Gmail
remoteuser = {{EMAIL}}
remotepass = {{IMAP_PASS}}
realdelete = no
maxconnections = 3
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
folderfilter = lambda f: f not in ['[Gmail]/All Mail', '[Gmail]/Important', '[Gmail]/Starred', '[Gmail]/Trash', '[Gmail]/Bin', '[Gmail]/Spam']
createfolders = false
