[general]
accounts = default
metadata = ~/.offlineimap/{{id}}

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes.{{id}}
header = "mailboxes "
peritem = "+%(foldername)s"
sep = " "
footer = "\n"

[Account default]
localrepository = local
remoterepository = gmail

[Repository local]
type = Maildir
localfolders = ~/Mail/{{id}}

[Repository gmail]
type = Gmail
remoteuser = {{email}}
remotepass = {{imap_pass}}
realdelete = no
maxconnections = 3
sslcacertfile = {{.ca_certs}}
folderfilter = lambda f: f not in ['[Gmail]/All Mail', '[Gmail]/Important', '[Gmail]/Starred', '[Gmail]/Trash', '[Gmail]/Bin']
createfolders = false
