[general]
accounts = default
metadata = ~/.offlineimap/work

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes.work
header = "mailboxes "
peritem = "+%(foldername)s"
sep = " "
footer = "\n"

[Account default]
localrepository = local
remoterepository = gmail

[Repository local]
type = Maildir
localfolders = ~/Mail/work

[Repository gmail]
type = Gmail
remoteuser = {{WORK_EMAIL}}
remotepass = {{WORK_IMAP_PASS}}
realdelete = no
maxconnections = 3
sslcacertfile = {{CA_CERTS}}
folderfilter = lambda f: f not in ['[Gmail]/All Mail', '[Gmail]/Important', '[Gmail]/Starred', '[Gmail]/Trash', '[Gmail]/Bin']
createfolders = false
