# offlineimap.service

[Unit]
Description=OfflineIMAP Quicksync
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap
Restart=always
RestartSec=2m

[Install]
WantedBy=default.target
