# offlineimap.service

[Unit]
Description=OfflineIMAP Quicksync
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap

[Install]
WantedBy=default.target
