# offlineimap.service

[Unit]
Description=OfflineIMAP
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -c ~/.offlineimap/%i.rc
Restart=always
RestartSec=2m

[Install]
WantedBy=default.target
