[Unit]
Description=RedShift Screen Dimmer

[Service]
Type=simple
ExecStart=/usr/bin/redshift -l 59.32:18.06 -b 1.0:0.8
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
